### Hi there <a href="https://{{url}}">🖐</a>

This is the place where I opensource stuff and break things :rofl:

- ⚡  Today is {{date}},
- 👨‍💼 I’m {{name}} and 🏡 live in {{city}},
- 🔭 I’m currently working on something cool;
- 💬 Ask me about anything related to Javascript/Java , React/Typescript , Testing;
- 📀 How to find my website in the internet: [https://meugenom.com](https://meugenom.com)
- 💾 How to write me: {{mail}}

#### GitHub Statistics:
![Meugenom's GitHub stats](https://github-readme-stats.vercel.app/api?username=meugenom&count_private=true&show_icons=true) [![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=meugenom&count_private=true&layout=compact&hide=CSS,HTML)](https://github.com/meugenom) 

[![CodeWars](https://www.codewars.com/users/meugenom/badges/small?theme=light)](https://www.codewars.com/users/meugenom)

[![LeetCode Stats All](https://img.shields.io/badge/LEETCODE%20SOLVED%20PROBLEMS%20%3A-{{leetcode.countAll}}-orange)](https://leetcode.com/meugenom/)
[![LeetCode Stats Easy](https://img.shields.io/badge/{{leetcode.byDifficulty.easy.name}}%20%3A-{{leetcode.byDifficulty.easy.count}}-brightgreen)](https://leetcode.com/meugenom/)
[![LeetCode Stats Medium](https://img.shields.io/badge/{{leetcode.byDifficulty.medium.name}}%20%3A-{{leetcode.byDifficulty.medium.count}}-yellow)](https://leetcode.com/meugenom/)
[![LeetCode Stats Hard](https://img.shields.io/badge/{{leetcode.byDifficulty.hard.name}}%20%3A-{{leetcode.byDifficulty.hard.count}}-red)](https://leetcode.com/meugenom/)


[![README build](https://github.com/meugenom/meugenom/actions/workflows/main.yaml/badge.svg)](https://github.com/meugenom/meugenom/actions/workflows/main.yaml)
