### Hi there <a href="https://www.eugenem.dev/"><img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="25px"></a>
This is the place where I opensource stuff and break things :rofl:

- ⚡  Today is {{date}}.
- 😄  My name is {{name}} and I'm from {{city}};
- 🔭  I’m currently working on something cool :wink;
- 🌱 I’m currently learning Java, Javascript;
- 💬 Ask me about anything related to Javascript/Java or Angular/React/Express;
- 📫 How to reach me: [@eugenemdev](http://t.me/{{telegram}}) 