### Hi there <a href="https://{{url}}">🖐</a>

This is the place where I opensource stuff and break things :rofl:

- ⚡  Today is {{date}},
- 👨‍💼 I’m {{name}} and 🏡 live in {{city}},
- 🔭 I’m currently working on something cool;
- 💬 Ask me about anything related to Javascript/Java or Angular/React/Express and Testing;
- 📀 How to find my website in the internet: [https://meugenom.com](https://meugenom.com)
- 💾 How to write me: {{mail}}

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=meugenom&layout=compact&hide=CSS,PYTHON)](https://github.com/meugenom)

![Meugenom's GitHub stats](https://github-readme-stats.vercel.app/api?username=meugenom&show_icons=true)

[![README build](https://github.com/meugenom/meugenom/actions/workflows/main.yaml/badge.svg)](https://github.com/meugenom/meugenom/actions/workflows/main.yaml)

